.base {
  @apply
    inline-flex
    justify-start
    items-center
    gap-1

    rounded-lg

    text-sm
    font-semibold
    whitespace-nowrap

    transition-colors
    duration-200
    ease-linear;
}

.variant-primary {
  @apply
    bg-button-primary
    border
    border-solid
    border-button-primary-border
    shadow-sm
    shadow-[hsla(220,_43%,_11%,_0.05)]

    text-button-primary-foreground


    hover:bg-button-primary-background-hover
    hover:border-button-primary-border-hover

    hover:text-button-primary-foreground-hover


    focus-visible:outline-none
    focus-visible:ring-4
    focus-visible:ring-ring/[0.24];
}

.variant-secondary {
  @apply
    bg-button-secondary
    border
    border-solid
    border-button-secondary-border
    shadow-sm
    shadow-[hsla(220,_43%,_11%,_0.05)]

    text-button-secondary-foreground


    hover:bg-button-secondary-background-hover
    hover:border-button-secondary-border-hover

    hover:text-button-secondary-foreground-hover

    focus-visible:outline-none
    focus-visible:ring-4
    focus-visible:ring-ring/[0.14];
}

.variant-secondary-gray {
  @apply
    bg-button-secondary-gray
    border
    border-solid
    border-button-secondary-gray-border
    shadow-sm
    shadow-[hsla(220,_43%,_11%,_0.05)]

    text-button-secondary-gray-foreground


    hover:bg-button-secondary-gray-background-hover
    hover:border-button-secondary-gray-border-hover

    hover:text-button-secondary-gray-foreground-hover

    focus-visible:outline-none
    focus-visible:ring-4
    focus-visible:ring-ring-gray/[0.14];
}

.variant-tertiary-gray {
  @apply
    text-button-tertiary-gray-foreground


    hover:bg-button-tertiary-gray-background-hover

    hover:text-button-tertiary-gray-foreground-hover;
}

.size-md {
  @apply
    px-3.5
    py-2.5;
}

.size-md-icon {
  @apply p-2.5;
}
