.container {
  @apply
    flex
    flex-col
    justify-start
    items-stretch

    bg-background-secondary;
}

.link-container {
  grid:
    "move-button info actions" auto
    / auto       1fr  auto;

  @apply
    grid
    items-center
    gap-x-1
    px-6
    py-4

    bg-background
    border-solid
    border-border-secondary


    [&:not(:only-child)]:border-b


    [&]:only:-mb-px;
}

.move-button {
  grid-area: move-button;

  @apply cursor-move;
}

.link-info {
  grid-area: info;

  @apply
    flex
    flex-col
    justify-center
    items-start
    gap-1.5

    overflow-hidden;
}

.link-label {
  @apply
    text-sm
    text-text
    font-semibold;
}

.link-url {
  @apply
    text-sm
    text-text-tertiary
    font-normal
    whitespace-nowrap;
}

.sub-link {
  @apply
    ml-16


    [&>.link-container]:border-b
    [&>.link-container]:border-l
    [&>.link-container]:rounded-bl-lg;
}

.link-form {
  @apply
    px-6
    py-4;
}
